<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.webview">

    <application>
<!--        让webview独立运行在一个进程-->
        <activity android:name=".WebViewActivity"
            android:process=":webwiewprocess"/>
    </application>
</manifest>